#navbar {
    background: #001519;
    overflow: auto;
    position: relative;
    box-shadow: 0px 15px 30px 0 rgb(0, 0, 0, 0.5);
}

#navbar .logo {
    float: none;
    text-align: center;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar ul, #navbar ul li {
    float: none;
}

#about-info .info-right {
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    color: #fff;
    text-align: center;
    padding: 18px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 20px 0 rgb(0, 0, 0, 0.3);
    
}

#about-info .info-right h1 {
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 25px;
    line-height: 35px;
}

#testimonials h1 {
    text-align: center;
    color: #fff;
    padding: 60px 20px;
    font-size: 32px;
    background: #001519;
    line-height: 38px;
}

#footer ul li {
    float: none;
    list-style: none;
}

#footer h1 {
    float: none;
    text-align: center;
    color: #b2f1ff;
    font-size: 16px;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#footer ul li a {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
}

#showcase .showcase-content h1 {
    font-size: 70px;
    line-height: 1.2em;
}

#section .box h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #7be7ff;
}

#section .box h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #7be7ff;
    text-align: center;
}